header {
    background-color: rgb(54, 37, 93);
    height: 50px;
    box-shadow:  5px 5px 20px rgba(0, 0, 0, 0.5); /* Add a shadow effect */
    z-index: 100; /*fixes header to the top of the page at all times*/
    position: sticky;
    top: 0;
}

body {
    margin: 0; /* Remove default margin on the body */
    padding: 0; /* Remove default padding on the body */
    width: 100vw; /* Resizes the width*/
    height: 100vh; /*Resizes the height*/
}
